In [73]:
# Liberary import
import requests
import pandas as pd
import numpy as np
from datetime import datetime 
import re

In [47]:
# Header define
yahoo_finance_headers = {
        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7',
        'Accept-Encoding': 'gzip, deflate, br, zstd',
        'Accept-Language': 'en-US,en;q=0.9',
        'Cache-Control': 'no-cache',
        'Cookie': 'A1=d=AQABBJkNsWgCEEi_58VJbGB_l7OJZ7XWrc4FEgEBAQFfsmi6aK8AAAAA_eMCAA&S=AQAAAl61G0LkQqr0GzwTZZlMD30; A3=d=AQABBJkNsWgCEEi_58VJbGB_l7OJZ7XWrc4FEgEBAQFfsmi6aK8AAAAA_eMCAA&S=AQAAAl61G0LkQqr0GzwTZZlMD30; A1S=d=AQABBJkNsWgCEEi_58VJbGB_l7OJZ7XWrc4FEgEBAQFfsmi6aK8AAAAA_eMCAA&S=AQAAAl61G0LkQqr0GzwTZZlMD30; PRF=t%3DTSLA; gpp=DBAA; gpp_sid=-1; fes-ds-session=pv%3D7; cmp=t=1756438244&j=0&u=1---',
        'Priority': 'u=0, i',
        'Sec-Ch-Ua': '"Not;A=Brand";v="99", "Google Chrome";v="139", "Chromium";v="139"',
        'Sec-Ch-Ua-Mobile': '?0',
        'Sec-Ch-Ua-Platform': '"Windows"',
        'Sec-Fetch-Dest': 'document',
        'Sec-Fetch-Mode': 'navigate',
        'Sec-Fetch-Site': 'none',
        'Sec-Fetch-User': '?1',
        'Upgrade-Insecure-Requests': '1',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/139.0.0.0 Safari/537.36'
    }

In [61]:
# Define import function
def us_stock_price_yahoo_finance(ticker = 'TSLA', period1 = '1262204200', period2='1756433964', ingest_header = yahoo_finance_headers):
    # Send request
    response = requests.get(f"https://query1.finance.yahoo.com/v8/finance/chart/{ticker}?&includeAdjustedClose=true&interval=1d&period1={period1}&period2={period2}",
                           headers = ingest_header)
    data = response.json()
    
    # navigate to the data
    result = data['chart']['result'][0]
    timestamps = result['timestamp']
    quotes = result['indicators']['quote'][0]
    adjclose = result['indicators']['adjclose'][0]['adjclose']
    
    # build dataframe
    df = pd.DataFrame({
        'timestamp': pd.to_datetime(timestamps, unit='s'),
        'open': quotes['open'],
        'high': quotes['high'],
        'low': quotes['low'],
        'close': quotes['close'],
        'adjclose': adjclose,
        'volume': quotes['volume']
    })

    # add custom date fields
    df['datetime'] = df['timestamp'].dt.strftime('%Y%m%d')
    df['year'] = df['timestamp'].dt.year
    df['month'] = df['timestamp'].dt.month
    df['day'] = df['timestamp'].dt.day
    df['ticker'] = ticker
    df['table_name'] = 'us_stock_price_yahoo_finance'
    
    return(df)

In [75]:
# Ingestion flow
# Major stocks in US market 
stock_to_ingest = ["NVDA", "MSFT", "AAPL", "GOOGL", "AMZN", "META", "AVGO", "TSLA", "JPM"]

# Ingest data
final_df = pd.DataFrame()
for stock in stock_to_ingest: 
    print(f"Ingesting price data for {stock} ...")
        
    # append to final_df
    df_temp = us_stock_price_yahoo_finance(stock)
    final_df = pd.concat([final_df, df_temp], ignore_index=True)
    
    print(f"Complete for stock {stock} ...\n")

Ingesting price data for NVDA ...
Complete for stock NVDA ...

Ingesting price data for MSFT ...
Complete for stock MSFT ...

Ingesting price data for AAPL ...
Complete for stock AAPL ...

Ingesting price data for GOOGL ...
Complete for stock GOOGL ...

Ingesting price data for AMZN ...
Complete for stock AMZN ...

Ingesting price data for META ...
Complete for stock META ...

Ingesting price data for AVGO ...
Complete for stock AVGO ...

Ingesting price data for TSLA ...
Complete for stock TSLA ...

Ingesting price data for JPM ...
Complete for stock JPM ...

In [77]:
final_df.to_csv("us_stock_price_yahoo_finance_top10.csv")

In [81]:
final_df[final_df['ticker'] == 'TSLA']

,timestamp,open,high,low,close,adjclose,volume,datetime,year,month,day,ticker,table_name
26979,2010-06-29 13:30:00,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,20100629,2010,6,29,TSLA,us_stock_price_yahoo_finance
26980,2010-06-30 13:30:00,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,20100630,2010,6,30,TSLA,us_stock_price_yahoo_finance
26981,2010-07-01 13:30:00,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,20100701,2010,7,1,TSLA,us_stock_price_yahoo_finance
26982,2010-07-02 13:30:00,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,20100702,2010,7,2,TSLA,us_stock_price_yahoo_finance
26983,2010-07-06 13:30:00,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,20100706,2010,7,6,TSLA,us_stock_price_yahoo_finance
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30790,2025-08-22 13:30:00,321.660004,340.250000,319.690002,340.010010,340.010010,94016300,20250822,2025,8,22,TSLA,us_stock_price_yahoo_finance
30791,2025-08-25 13:30:00,338.899994,349.529999,335.029999,346.600006,346.600006,86670000,20250825,2025,8,25,TSLA,us_stock_price_yahoo_finance
30792,2025-08-26 13:30:00,344.929993,351.899994,343.720001,351.670013,351.670013,76651600,20250826,2025,8,26,TSLA,us_stock_price_yahoo_finance
30793,2025-08-27 13:30:00,351.940002,355.390015,349.160004,349.600006,349.600006,65519000,20250827,2025,8,27,TSLA,us_stock_price_yahoo_finance
30794,2025-08-28 13:30:00,350.910004,353.549988,340.260010,345.980011,345.980011,67737100,20250828,2025,8,28,TSLA,us_stock_price_yahoo_finance